
/* the body element has a background color: black */
body {
    background-image: url('../images/space-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* every element has a font-family of monospace and the color white */
* {
    font-family: monospace;
    color: white;
}

#title {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 7rem;
}

#main-content {
    margin: 2rem;
}

/* created a flex box with a height of 40rem */
#flex-container {
    display: flex;
    height: 40rem;
    background-color: rgba(114, 114, 114, 0.178);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* the info id has another flex box to make a gap between the facts and the introduction text */
#info {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 5rem;
    padding: 2rem;
    font-size: 1.2rem;
}

/* every sub-head has their own font size */
.sub-head {
    font-size: 1.5rem;
}

/* an image id to center the image within the element */
#image {
    display: flex;
    align-items: center;
    justify-content: center;
}
#image img {
    max-width: 70%;
    border: solid white;
    border-radius: 2rem;
}

/* Both content and facts classes have their own font style and font size */
.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
.fact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
}
#footer {
    text-align: center;
}

/* Made the content responsive to the screen size */
@media screen and (max-width: 768px) {
    #flex-container {
        height: 100%;
        flex-wrap: wrap;
        padding-top: 2rem;
    }
    .content {
        font-size: 1.6rem;
    }
}